<!-- <app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
 -->
<!-- div class="cards-mayor">
  <div class="cards">
    <img
      class="card-img-top"
      src="../../../../assets/portadas/img1.png"
      alt="Card image cap"
    />
    <div class="box-star">
      <img class="star" src="../../../../assets/star.png" alt="star" />
      <h6>6.8</h6>
    </div>
    <div class="card-body">
      <h5 class="card-title">Black Widow</h5>
    </div>
  </div>
</div> -->
<!-- <div *ngFor="let movie_serie of movies_series">
  <app-cards *ngIf="filter === 'all'" [movie]="movie_serie"></app-cards>
  <app-cards *ngIf="movie_serie.category === filter" [movie]="movie_serie"></app-cards>
</div> -->

<!--Título y subtítulo-->
<div class="title">
  <h1>PelisUP!</h1>
  <p id="subtitulo2">Plataforma para ver películas y series 😉</p>
</div>
<!--Fin Título y subtítulo-->

<!--Search-->
<input
  type="text"
  placeholder="Buscar películas y series"
  [(ngModel)]="buscar"
  (ngModelChange)="buscador()"
/>
<!--End Search-->

<!--button-->
<div class="container">
  <div class="frame">
    <button
      type="button"
      [ngClass]="estado === true ? 'btn btn-primary btn-lg' : ''"
      (click)="mostrar('all')"
    >
      Todos
    </button>
    <button
      type="button"
      [ngClass]="estado === true ? 'btn btn-primary btn-lg' : ''"
      (click)="mostrar('pelicula')"
    >
      Películas
    </button>
    <button
      type="button"
      [ngClass]="estado === true ? 'btn btn-primary btn-lg' : ''"
      (click)="mostrar('serie')"
    >
      Series
    </button>
  </div>
</div>
<h3>Todos</h3>
<p id="side-h3">({{ count() }})</p>
<!--End Button-->

<ng-container *ngFor="let film of series">
  <div class="cards-mayor">
    <div class="cards">
      <img class="card-img-top" src="{{ film.image }}" alt="Card image cap" />
      <div class="box-star">
        <img class="star" src="../../../../assets/star.png" alt="star" />
        <h6>{{ film.rating }}</h6>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ film.name }}</h5>
      </div>
    </div>
  </div>
</ng-container>
