<!--Título y subtítulo-->
<div class="title">
  <h1>PelisUP!</h1>
  <p>Plataforma para ver películas y series 😉</p>
</div>
<!--Fin Título y subtítulo-->

<!--Search-->
<input type="text" placeholder="Buscar películas y series" />
<!--End Search-->

<!--button-->
<div class="container">
  <div class="frame">
    <button type="button" class="btn btn-primary btn-lg">Todos</button>
    <button type="button" class="btn btn-primary btn-lg">Películas</button>
    <button type="button" class="btn btn-primary btn-lg">Series</button>
  </div>
</div>
<h3>Todos</h3>
<p id="side-h3">(120)</p>
<!--End Button-->

<!--button-->
<!-- <div class="container">
  <div class="frame"> -->
<!--  <button
      (click)="filter = 'all'"
      [ngClass]="filter === 'all' ? 'active' : ''"
      type="button"
      class="btn btn-primary btn-lg"
    >
      Películas
    </button>
    <button
      (click)="filter = 'movies'"
      [ngClass]="filter === 'movies' ? 'active' : ''"
      type="button"
      class="btn btn-primary btn-lg"
    >
      Series
    </button>
    <button
      (click)="filter = 'serie'"
      [ngClass]="filter === 'serie' ? 'active' : ''"
      type="button"
      class="btn btn-primary btn-lg"
    >
      Todos
    </button>
  </div>
</div>
<h3>Todos</h3>
<p id="side-h3"></p> --><!--{{ count() }}-->
<!--End Button-->
<!--   </div>
</div>
 -->
