/*Título y subtítulo*/
.title {
  margin-top: 200px;
  margin-left: 120px;
}
p {
  color: #8e95a9;
}
/*Fin Título y subtítulo*/

/*Search*/
input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: static;
  width: 320px;
  left: calc(50% - 344px / 2);
  top: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #323b54;
  box-sizing: border-box;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 0px;
  margin-top: 50px;
  margin-left: 120px;
  background-image: url("../../../../assets/lupa.png");
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
  padding-left: 50px;
  color: #ffffff;
  font-size: 18px;
}

input::placeholder {
  padding-left: 40px;
  font-size: 18px;
}
/*End Search*/

/*button*/
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 320px;
  height: 65px;
  left: 120px;
  top: 472px;
  background-color: #0c2236;
  border-radius: 12px;
}

.btn.btn-primary.btn-lg {
  margin-right: 5.2px;
  background-color: #0c2236;
  border-color: #0c2236;
  color: #8e95a9;
  font-weight: 500;
}

.btn.btn-primary.btn-lg:hover {
  background-color: #7b6ef6;
  color: #ebe9fe;
}

h3 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 120px;
  top: 560px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #767e94;
}
#side-h3 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 220px;
  top: 562px;
  font-size: 17px;
  line-height: 40px;
  color: #767e94;
}
/*End Button*/
h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  /* identical to box height, or 125% */

  letter-spacing: -0.02em;
}
