.cards-mayor {
  margin-left: 120px;
}

.cards {
  /* margin-left: 120px;
  margin-bottom: 50px;*/
  margin-right: 5px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(80px);
  border-radius: 8px;
  width: 280px;
  float: left;
  margin-top: 200px;
}

.card-body {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-img-top {
  width: 266px;
  height: 400px;
}

.cards:hover {
  background-color: aliceblue;
  color: #000000;
  width: 280px;
}

img {
  width: 300px;
  margin-top: 7px;
  margin-left: 7px;
}

.card:hover {
  border-radius: 12px;
}

.icon-web {
  font-family: Iconsweb;
  font-size: normal;
}

.box-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;

  position: absolute;
  width: 61px;
  height: 40px;
  left: 16px;
  top: 18px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.star {
  width: 18.33px;
  height: 18.23px;
  position: absolute;
  left: 4.34%;
  right: 8.32%;
  top: 7.66%;
  bottom: 8.68%;
}

h6 {
  position: absolute;
  left: 53.34%;
  right: 8.32%;
  top: 22.66%;
  bottom: 8.68%;
  color: #ffad49;
}
/*Título y subtítulo*/
.title {
  margin-top: 200px;
  margin-left: 120px;
}
p {
  color: #8e95a9;
}
/*Fin Título y subtítulo*/

/*Search*/
input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: static;
  width: 320px;
  left: calc(50% - 344px / 2);
  top: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #323b54;
  box-sizing: border-box;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 0px;
  margin-top: 50px;
  margin-left: 120px;
  background-image: url("../../../../assets/lupa.png");
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
  padding-left: 50px;
  color: #ffffff;
  font-size: 18px;
}

input::placeholder {
  padding-left: 40px;
  font-size: 18px;
}
/*End Search*/

/*button*/
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 320px;
  height: 65px;
  left: 120px;
  top: 472px;
  background-color: #0c2236;
  border-radius: 12px;
}

.btn.btn-primary.btn-lg {
  margin-right: 5.2px;
  background-color: #0c2236;
  border-color: #0c2236;
  color: #8e95a9;
  font-weight: 500;
}

.btn.btn-primary.btn-lg:hover {
  background-color: #7b6ef6;
  color: #ebe9fe;
}

h3 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 120px;
  top: 560px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #767e94;
}
#side-h3 {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 230px;
  top: 560px;
  font-size: 20px;
  line-height: 40px;
  color: #767e94;
}
/*End Button*/
h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  /* identical to box height, or 125% */

  letter-spacing: -0.02em;
}
